body{
    max-width: 500px;
}


.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: auto;
    /* flex-direction: column-reverse;  */
  }
  
  .box {
    width: 100px;
    margin:20px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
  }
  
  .box1 {
    background: orange;

  }
  
  .box2 {
    background: skyblue;
  }
  
  .box3 {
    background: tomato;
  }